@use '../scss/partials/variables' as *;
@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@use './partials/_variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');
// font-family: 'Oswald', sans-serif; - MAIUSCOLO
// font-family: 'Noto Sans', sans-serif; - MINUSCOLO

/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $proj_ligth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.btn_primary {
  background-color: $proj_primary;
  color: $proj_ligth;
  border: none;
}

.btn_secondary{
  background-color: transparent;
  color: $proj_ligth;
  border: none;
}

.uppercase {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}

.lowercase {
  font-family: 'Noto Sans', sans-serif;
  font-size: smaller;
}
/* #region common */