@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
//inserito come promemoria in previsione di usare variabili come la color palette
//@use './partials/_variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f0f0f0;
}

img {
  max-width: 100%;
}

